body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 200;
  box-sizing: border-box;
  /* overflow: scroll; */
}

button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 10px;
  cursor: pointer;
}

p {
  margin: 0;
}

img {
  width: 20vw;
}
