.logo > img {
  width: 65px;
  margin-top: 16px;
  cursor: pointer;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5%;
  margin-left: 5%;
  cursor: pointer;
}

.links {
  font-size: 1.08rem;
  cursor: pointer;
}

.links:hover,
.name:hover {
  color: lightskyblue;
}

.left2 > h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

.left2 > p {
  margin: 35px 0;
  font-size: 1.15rem;
  line-height: 28px;
}

.explore {
  width: 120px;
  border-radius: 2px;
  padding: 15px;
}

.explore:hover {
  color: lightskyblue;
  border-color: lightskyblue;
}

.right2 > img {
  width: 42vw;
  border-radius: 5px;
  transition: 2.5s ease all;
}

.right2:hover > img {
  transform: scale(1.2, 1.2);
}

.top2 > h2 {
  font-size: 2.2rem;
  font-weight: 300;
}

.content-box > img {
  border-radius: 2px;
  cursor: pointer;
  transition: 2s ease all;
}

.content-box > img:hover {
  transform: scale(1.04, 1.04);
}

.content-box > p {
  margin-top: 15px;
  font-size: 1.2rem;
}

.content3 > p {
  width: 75vw;
  font-size: 1.1rem;
  line-height: 29px;
}

.left4 > p {
  padding-top: 12px;
}

.sign-up {
  width: 100px;
  padding: 15px;
  border-radius: 5px;
}

.sign-up:hover {
  opacity: 0.8;
}
